---
import Themeselector from "@components/themeselector.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
export const menuitems = [

];
---

<div
  class="flex flex-col max-w-screen-xl px-4 mx-auto md:justify-between md:flex-col md:px-6 lg:px-8 z-10 md:pt-2 relative"
>
  <di class="p-4 flex flex-row items-center justify-between">
    <a
      href="/"
      class="flex gap-3 items-center text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline"
    >
      <Icon name="logo" width="50" class="dark:invert" />
      F1 2025
    </a>
    <Link href="/clasificacion">Puntos</Link>
		<div class="flex justify-end gap-3">
			<Themeselector />
		</div>
</div>
