---
import { useState, useEffect } from 'react';
import Cobe from "@components/cobe.astro";
---

<div class="relative isolate pt-14 dark:bg-stone-950">
  <div
    class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
  >
    <svg
      class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
      viewBox="0 0 1155 678"
    >
      <path
        fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
        fill-opacity=".3"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
      >
      </path>
      <defs>
        <linearGradient
          id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#9089FC"></stop>
          <stop offset="1" stop-color="#FFD580"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="sm:pt-10">
    <div class="mx-auto max-w-7xl">
      <div class="mx-auto max-w-2xl text-center">
        <h1
          class="text-4xl font-bold tracking-tight text-black dark:text-white sm:text-6xl"
        >
          {"Circuitos de la temporada 2025"}
        </h1>
      </div>
      <div class="flex flex-col justify-center items-center mt-4 md:mt-8">
        <Cobe />
      </div>
    </div>
  </div>
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
  >
    <svg
      class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
      viewBox="0 0 1155 678"
    >
      <path
        fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
        fill-opacity=".3"
        d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z"
      >
      </path>
      <defs>
        <linearGradient
          id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
          x1="1155.49"
          x2="-78.208"
          y1=".177"
          y2="474.645"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#9089FC">
            <animate
              attributeName="stop-color"
              values="#9089FC; #FF80B5; #9089FC"
              dur="5s"
              repeatCount="indefinite"></animate>
          </stop>
          <stop offset="1" stop-color="#ffb6c1">
            <animate
              attributeName="stop-color"
              values="#ffb6c1; #9089FC; #ffb6c1"
              dur="5s"
              repeatCount="indefinite"></animate>
          </stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
	<div class="flex justify-center items-center mt-4 md:mt-8">
	<table class="table-auto border-collapse border  dark:text-slate-400 border-gray-400 mt-8">
		<thead>
			<tr>
				<th class="border border-gray-300 px-4 py-2">N.º</th>
				<th class="border border-gray-300 px-4 py-2">Gran Premio</th>
				<th class="border border-gray-300 px-4 py-2">Circuito</th>
				<th class="border border-gray-300 px-4 py-2">Fecha</th>
			</tr>
		</thead>
		<tbody>
        {[
          { number: 1, name: "Gran Premio de Australia", circuit: "Circuito de Albert Park, Melbourne", date: "14 al 16 de marzo", endDate: new Date("2025-03-16") },
          { number: 2, name: "Gran Premio de China", circuit: "Circuito Internacional de Shanghái", date: "21 al 23 de marzo", endDate: new Date("2025-03-23") },
          { number: 3, name: "Gran Premio de Japón", circuit: "Circuito de Suzuka, Suzuka", date: "4 al 6 de abril", endDate: new Date("2025-04-06") },
          { number: 4, name: "Gran Premio de Baréin", circuit: "Circuito Internacional de Baréin, Sakhir", date: "11 al 13 de abril", endDate: new Date("2025-04-13") },
          { number: 5, name: "Gran Premio de Arabia Saudita", circuit: "Circuito de la Corniche de Yeda, Yeda", date: "18 al 20 de abril", endDate: new Date("2025-04-20") },
          { number: 6, name: "Gran Premio de Miami", circuit: "Autódromo Internacional de Miami, Miami", date: "2 al 4 de mayo", endDate: new Date("2025-05-04") },
          { number: 7, name: "Gran Premio de Emilia-Romaña", circuit: "Autódromo Enzo e Dino Ferrari, Imola", date: "16 al 18 de mayo", endDate: new Date("2025-05-18") },
          { number: 8, name: "Gran Premio de Mónaco", circuit: "Circuito de Mónaco, Montecarlo", date: "23 al 25 de mayo", endDate: new Date("2025-05-25") },
          { number: 9, name: "Gran Premio de España", circuit: "Circuito de Barcelona-Cataluña, Montmeló", date: "30 de mayo al 1 de junio", endDate: new Date("2025-06-01") },
          { number: 10, name: "Gran Premio de Canadá", circuit: "Circuito Gilles Villeneuve, Montreal", date: "13 al 15 de junio", endDate: new Date("2025-06-15") },
          { number: 11, name: "Gran Premio de Austria", circuit: "Red Bull Ring, Spielberg", date: "27 al 29 de junio", endDate: new Date("2025-06-29") },
          { number: 12, name: "Gran Premio de Gran Bretaña", circuit: "Circuito de Silverstone, Silverstone", date: "4 al 6 de julio", endDate: new Date("2025-07-06") },
          { number: 13, name: "Gran Premio de Hungría", circuit: "Hungaroring, Mogyoród", date: "18 al 20 de julio", endDate: new Date("2025-07-20") },
          { number: 14, name: "Gran Premio de Bélgica", circuit: "Circuito de Spa-Francorchamps, Spa", date: "1 al 3 de agosto", endDate: new Date("2025-08-03") },
          { number: 15, name: "Gran Premio de los Países Bajos", circuit: "Circuito de Zandvoort, Zandvoort", date: "22 al 24 de agosto", endDate: new Date("2025-08-24") },
          { number: 16, name: "Gran Premio de Italia", circuit: "Autodromo Nazionale di Monza, Monza", date: "5 al 7 de septiembre", endDate: new Date("2025-09-07") },
          { number: 17, name: "Gran Premio de Azerbaiyán", circuit: "Circuito callejero de Bakú, Bakú", date: "19 al 21 de septiembre", endDate: new Date("2025-09-21") },
          { number: 18, name: "Gran Premio de Singapur", circuit: "Circuito callejero de Marina Bay, Marina Bay", date: "3 al 5 de octubre", endDate: new Date("2025-10-05") },
          { number: 19, name: "Gran Premio de Estados Unidos", circuit: "Circuito de las Américas, Austin", date: "17 al 19 de octubre", endDate: new Date("2025-10-19") },
          { number: 20, name: "Gran Premio de México", circuit: "Autódromo Hermanos Rodríguez, Ciudad de México", date: "24 al 26 de octubre", endDate: new Date("2025-10-26") },
          { number: 21, name: "Gran Premio de São Paulo", circuit: "Autódromo José Carlos Pace, São Paulo", date: "7 al 9 de noviembre", endDate: new Date("2025-11-09") },
          { number: 22, name: "Gran Premio de Las Vegas", circuit: "Circuito callejero de Las Vegas, Las Vegas", date: "21 al 23 de noviembre", endDate: new Date("2025-11-23") },
          { number: 23, name: "Gran Premio de Catar", circuit: "Circuito Internacional de Losail, Lusail", date: "28 al 30 de noviembre", endDate: new Date("2025-11-30") },
          { number: 24, name: "Gran Premio de Abu Dabi", circuit: "Circuito Yas Marina, Isla Yas", date: "5 al 7 de diciembre", endDate: new Date("2025-12-07") }
        ].map((race) => (
          <tr class={new Date() > race.endDate ? 'text-red-500' : ''}>
            <td class="border border-gray-300 px-4 py-2">{race.number}</td>
            <td class="border border-gray-300 px-4 py-2">{race.name}</td>
            <td class="border border-gray-300 px-4 py-2">{race.circuit}</td>
            <td class="border border-gray-300 px-4 py-2">{race.date}</td>
          </tr>
        ))}
      </tbody>
	</table>
</div>
</div>

<style>
  @keyframes slide {
    0% {
      left: calc(50% - 70rem);
      transform: rotate(0deg);
    }
    50% {
      left: calc(50% - 30rem);
      transform: rotate(-180deg);
    }
    100% {
      left: calc(50% - 70rem);
      transform: rotate(0deg);
    }
  }

  .animate-slide {
    animation: slide 25s infinite;
  }
</style>
