---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter";

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" />
		<script is:inline>
			function handleThemeChange() {
				if (localStorage.theme === "dark" || (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
			}
			handleThemeChange();
			document.removeEventListener("astro:after-swap", handleThemeChange);
			document.addEventListener("astro:after-swap", handleThemeChange);
		</script>

		
	</head>
	<body class="text-black dark:bg-stone-950 h-dvh justify-center items-center text-[8px]
	min-[375px]:text-[10px]
	min-[425px]:text-[12px]">
		<Navbar />
		<slot />
		<Footer >
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
